<a href="https://colab.research.google.com/github/RITESH7275/vd.github.io/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[1]
hulk strenth level is recorded as a string input "1000" .convert it into integer and increase it by 200.

In [ ]:
str="1000"
new=int(str)+200
print(new)

1200

[2]
 thor hammer weight is 5000 in integer but you need to calculate the gravitational force which is required as a float value.

In [ ]:
weight=5000
force = float(weight*(9.8))
print(force)

49000.0

[3]
swap the variable.

In [ ]:
a = 10
b = 25
a,b = b,a
print (a,b)

25 10

[4]
loki gets input in seconds as a string "3600" . convert it into integer then into hours

In [ ]:
time="3600"
time1 =int(time)
time = time1/3600
print(time)

1.0

[5]
iron man recorded seven hits out of 10 shots both in integer covert them into float and calculate the accuracy percentage

In [ ]:
total_shots = 10
total_hits = 7
accuracy = (total_hits / total_shots )*100
print (accuracy)
print(f"accuracy is {accuracy : .2f}%")

70.0
accuracy is  70.00%

# object refrencing in python

(i) python variable holds the refrences to object not the actual objects themselves.

In [ ]:
a = [1,2,3]
b=a
print(a)
b.append(4)
b= b+[5]
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

(ii) reassigning the variable does not affect other variable refrencing the same object unless

In [ ]:
shield = ["vibranium", "round"]
copy_shield = shield
print("original shield is ", shield)
print("wolverine changes the shield material ", shield)
copy_shield [0] = "adamantium"
# shield[0]= "ritesh"
print("new shield is :", copy_shield)

original shield is  ['vibranium', 'round']
wolverine changes the shield material  ['vibranium', 'round']
new shield is : ['adamantium', 'round']

(iii) deletion

In [ ]:
a = 10
print(a)
print("delete :")
del (a)

10
delete :

# **DATA** **TYPES** :-

#: numeric:- INT, FLOAT, COMPLEX

#: text:- STR

#: boolean:- BOOL

#: sequence:- List, Tuple

#: sets:- Set, Frozenset

#: Binary :- Bytes, Bytearrray, memory view

#: Mapping:- Dict

#: none

In [ ]:
x=50
x=60.5
x="hello"
x=("mr","ritesh", "chaudhary")
print(x)

('mr', 'ritesh', 'chaudhary')

1. int- use for categorical incoding , class id, one-hot-indexing and token ids in NLP(natural language processing)
2. float -represent real value data like features , prediction, gradient and weights
3. complex- use in signal processing , audio image analysis spectral method for exm-FFT in EEG
4. Float32/float64 - standard in deep learning language  framework like pyTorch, TensorFlow to balance precision and memory usage.
5. int32/int64- useful for labels , indexing arrays/ Tensors and specifying seq. length in NLP.

In [ ]:
power_levels = [86.35,92.5,75.75645,88.0,91.9867]
if(power_levels):
  avg_power = round(sum(power_levels)/len(power_levels),4)
else:
  avg_power = 0
print(f"{avg_power:.7f}")

86.9186000

## interview tip


*  always validate your input data before execution your programme

In [ ]:
import statistics
power_level={"Ironman": 100, "Hulk": 200}
print(statistics.mean(power_level.values()))

150

**interview tip**

dict vs list:-
1. dictionary is best when data can be mapped where as list works as when order or
sequence matters.
2. efficiency be ready to compute averages in one pass using built-in functions or libraries.
 3. keep the time complexity in mind.

In [ ]:
num=[10,2,4,8]
max=min=num[0]
for n in num:
  if max<n:
    max=n
  if min>n:
    min=n
print(max)
print(min)

10
2

rotate a list to the right by k steps

In [ ]:
num=[1,2,3,4,5,6]
k = int(input("Enter k : "))
k=k%len(num)
rotated = num[-k:] + num[:-k]
print(rotated)
print(num[:-k])

Enter k : 2
[5, 6, 1, 2, 3, 4]
[1, 2, 3, 4]

##STRING
 1. string are the arrays of bytes representing unique code character no seperate character data type.
 2. the string can be using single , double and tripple quote.
 3. access individual character by a indexing and starting from zero.
 4. string are immutable
 6. a string can be repeated by multiplying it by an integer.
 7. function that is used for string is str.

In [ ]:
s1 = "this is an example of a string"
s2 = "this "+"is "+" also"+'''an'''+"example"+'of'+"a"+"string"
s3 = "this is a\
......... single line"
s4 = "hulk:smash"
s5 = "#this is not a comment"
print(s1)
print(s2)
print(s3)
print(s4*3)
print(s5)
print("the length of the string is :",len(s5))
print("the first char. is :",s5[0])
print("the first char. is :",s5[-0])
print("the first char. is :",s5[-1])
print(" the substring of s5 is :",s5[:4]) # this concept is called slicing.(use in the bigger matrix ; use in dividing the data set into test and train subsets)
print(" the substring of s5 is :",s5[2:4])
s2[0] = "b"

this is an example of a string
this is  alsoanexampleofastring
this is a......... single line
hulk:smashhulk:smashhulk:smash
#this is not a comment
the length of the string is : 22
the first char. is : #
the first char. is : #
the first char. is : t
 the substring of s5 is : #thi
 the substring of s5 is : hi

TypeError: 'str' object does not support item assignment

In [ ]:
# name = "iron man"
# for s in name:
#   print( s,end = '*')
s2= "loop"
for i in range(len(s2)):
    print(-i , s2[-i])

0 l
-1 p
-2 o
-3 o

In [ ]:
# reverse a string
s = "live long"
print(s[::-1])
print(s[::1])
print(s[::-2])
print(s[-4:6:2])

gnol evil
live long
go vl
l

#ascii code
1. in the early 1960s a standard was published called american standard code for information interchange.
2. it specify a mapping of binary values to characters
3. it uses 7 bits to represents character from 0 to 127
4. a to z is 97 to 122
5. A to Z is 65 to 90

1. the asciii character set is limited and not designed to handle characters from other language.

solution-  
. the uni-code standard define more than 1 lakh character  
. python 3 uses unicode by default(UTF-8)  
. unicode string allow global language support Prefix : u

In [ ]:
s1= "\u03C0"
s2= "\u00B2"
s3= "\u00B1"
s4= "\u00B3"
print(s1)
print(s2)
print(s3)
print(s4)

π
²
±
³

\0 : null, ascii value=0  
\a : bel, ascii value=7  
\b : backspace, ascii value=8  
\t : horizontal tab, ascii value=9  
\n : new line, ascii value = 10  
\v : vertical tab, ascii value = 11  
\f : form feed(new page), ascii value =12  
\r : carriage return, ascii value = 13

In [ ]:
print("iron man \n hulk")
print("iron man \t hulk")
print("iron man \v hulk")
print("iron man \b hulk")
print("iron man \a hulk")   # it will trigger beep sound on supported terminal

iron man
 hulk
iron man 	 hulk
iron man  hulk
iron man  hulk
iron man  hulk

In [ ]:
print("C:/Avenger/Date") #escape sequence

C:/Avenger/Date

# method of string
1. lower and upper case [we can use thes methods in nlp(natural language processing)]
2. strip method : use to remove the special character or whitespaces that are either leading or trailing. it does not remove from the middle.
3. replace fuction : use to remove all the special character and whitespaces from the string.
4. split / join function : we can use it for train and test an ai model
5. find : it retuns the index if present otherwise returns -1.
6. count : it counts the occurance.
7. startswith()/endswith()  
8. "in" keyword

In [ ]:
txt= "hello,my name is ritesh"
print(txt.startswith("hello", 0, 5))
print(txt.endswith(("dev","ritesh")))

True
True

In [ ]:
avg= "thor , capt.america"
print("thor" in avg)
print("ritesh" in avg)
print("ritesh" not in avg)

True
False
True

In [ ]:
review = "This Movie is AMAZING"
print(review.lower())
print(review.upper())
print(review.title())
tweet="@@@@@air@@@@@ocks@@@@@@"
print(tweet.strip("@"))
print(tweet.replace("@"," "))
print(tweet.replace("@","O"))
token = review.split()
print(token)
print("r".join(token))

this movie is amazing
THIS MOVIE IS AMAZING
This Movie Is Amazing
air@@@@@ocks
     air     ocks
OOOOOairOOOOOocksOOOOOO
['This', 'Movie', 'is', 'AMAZING']
ThisrMovierisrAMAZING

In [ ]:
text= "this is a python  class python"
print(text.find("a"))
print(text.find("p",7,11))
print(text.find("open"))
print(text.find("q"))
# print(text.index("q"))
print(text.count("python"))
print(text.count("python",7,25))

8
10
-1
-1
2
1

In [ ]:
world= ["how","are","you"]
# print(world.strip(","))
for i in world:
  print(i)

how
are
you

given a sentence locki try to trick avenger check locki is in it if yes "enemy dictected" otherwise "all clear"

In [ ]:
avg = "thor, capt.america"
if "locki" in avg:
  print("enemy detected")
else:
  print("all clear")

all clear

we define the uses of capitals in a word to be right when one of the following cases holds .  
(I) all letters in this word are capital like USA.  
(II) all letters in this word are not capital like leetcode.  
(III) first letter in this word are capital like Google.  
given a string of word return true if the uses of capital in it is right .

In [ ]:
word=''' "USA" "ritesh" '''
if(word.isupper() or word.islower() or word.istitle() ):
  print("true")
else:
  print("false")
print("ritesh".islower())

false
True

In [ ]:
word=''' "how", "are", "you" '''

print(word, sep="*", end = "*\n")
word1="how", "are", "you"
print(word1, sep="*", end = "*\n")
print("how", "are", "you" , sep="*", end = "*")

 "how", "are", "you" *
('how', 'are', 'you')*
how*are*you*

In [ ]:
a,b = 10,20
c=0
print(a ^ b)
print(b or a) # first  is true so print first number
print(a and c)
print(10>9 and 10>7)
print(10>9 or 5>7)
print(not 5>3)
print(bool([])) #empty then false
print(bool(" ")) # non empty then true

30
20
0
True
True
False
False
True

swapping of two numbers using xor operator.

In [ ]:
a,b=10,20
a= a^b #30
b= a^b #30^20 = 10
a= a^b # 30^10=20
print(a,b)

20 10

# **5 applicati0n related to XOR  **
1. XOR is used to generate and check parity bits in communication systems. It helps detect errors in transmitted data.  
2. XOR is used in many encryption algorithms (like stream ciphers). Since
A⊕B⊕B=A, it allows easy encryption and decryption using the same key.  
3. XOR gates are used in building half adders and full adders for binary addition, as XOR gives the sum bit.  
4. XOR is used for swapping two variables without using a temporary variable:  
a = a ^ b then b = a ^ b then a = a ^ b
5. In programming problems, XOR is used to find the single element that appears once when all other elements appear twice, because pairs cancel out (since
x⊕x=0).

# "is" keyword vs "==" comparison.
1. **is keyword:-**
Checks identity → whether two variables refer to the same object in memory.  
Syntax: a is b  
True only if both a and b point to the exact same object (same memory location).  

**2. == operator:-**
Checks equality → whether the values of two objects are the same.  
Syntax: a == b  
True if the data/content inside them is equal, even if stored in different objects.

**"is" keyword**

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)  # True  (**both refer to same object**)
print(a is c)  # False (**different objects with same values**)
print(a is not c)

True
False
True

**"==" operator**

In [ ]:
a = [1, 2, 3]
c = [1, 2, 3]
print(a == c)  # True  (values are same)
print(a is c)  # False (different objects)

True
False

In [ ]:
word = "riTeSh , pagLa"
print(word.capitalize())
print(word.title())
print(word.upper())
print(word.lower())
print(word.swapcase()) #convert all lower case to upper and all upper to lower.

Ritesh , pagla
Ritesh , Pagla
RITESH , PAGLA
ritesh , pagla
RItEsH , PAGlA

**Arithmetic** **operators**

In [ ]:
a=10
b=9
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) #floor division
print(a**3) #exponential
print(2**2**3) #right associativity
print(-10//3) #python flow divison differs from c++ in python it is -4 where as in c++ it is -3.

19
1
90
1.1111111111111112
1
1
1000
256
-4

**Assignment** **operator**
code cosistence and read
efficiency (in place updation) : in python operators like +=try to update object

In [ ]:
x=5 #precidence of astric is less than + operator.
x *= 2+3
print(x)

y=10
print(y//3)
a=[1,2]
b=a
a+=[3]
print(a)
a=a+[3]
print(b) #output is [1,2] because a new list was recorded

# difference betw a += a+b and
# in place updation
# optimisation of code

25
3
[1, 2, 3]
[1, 2, 3]

In [ ]:
x=5
# x &= 3
print(x)
print(x>>1)
print(x<<1)

5
2
10

**comparision** **operator**

In [ ]:
x =10
y= 10
print(x==y)
print(x!=y)
print(x>y)
print(y>x)
print(x>=y)
print(x<=y)
print(10==10.0)
print("10"==10.0)
print(True==1)
print(True + True)

True
False
False
False
True
True
True
False
True
2

**logical**  **operators**

In [ ]:
print(0 and 5)
print(1 and 5)
print(0 or 5)
print(not 5)
print(5)
print([] or "hi")
print([] and "hi")
# a and b does not evaluate b if a is false.(short circuitting)
# a or b does not evaluate b if a is true.

0
5
5
False
5
hi
[]

# identity operator

In [ ]:
a= [1,2,3]
print(3 in a)
print("a" in "banana")
print("nana" in "banana")
print(3 not in a)
print("a" not in "banana")
print("nana" not in "banana")

True
True
True
False
False
False

# bitwise **operator**

In [ ]:
print(5&3)
print(5|3)
print(5^3)
print(~5) #complement operator
print(-10//3)
print("APPLE" < "apple")
print(True==2-3)

1
7
6
-6
-4
True
False

# Dictionary
collection of unique data(key) but value can be same which is arrange in a key value pair is called dictionary.

In [ ]:
stud_name= {
    1 : "swati",
    2 : "pankaj",
    3 : "nitika",
    4 : "nitika"
}
print(type(stud_name))
print(stud_name)
print(stud_name[1])
print(stud_name.get(2))
print(stud_name.get(4))
len(stud_name)
print(stud_name.get(5))
print(stud_name[6])

<class 'dict'>
{1: 'swati', 2: 'pankaj', 3: 'nitika', 4: 'nitika'}
swati
pankaj
nitika
None

KeyError: 6

In [ ]:
# dict(1 : "swati", 2 : "pankaj", 3 : "nitika")
# print
stud_name= {
    "stud1" : "swati",
    "stud2" : "pankaj",
    "stud3" : "nitika",
    "stud4" : "ritesh"
}
print(type(stud_name))
print(stud_name)
print(stud_name["stud1"])
print(stud_name.get("stud2"))
print(stud_name.get("stud4"))
len(stud_name)

<class 'dict'>
{'stud1': 'swati', 'stud2': 'pankaj', 'stud3': 'nitika', 'stud4': 'ritesh'}
swati
pankaj
ritesh

4

In [ ]:
car = {
    "brand" : "audi",
    "model" : "q2005"
}
print(car)
print(car.get('brand'))
print(car.get("bran",0))
print(car.get("bran",'n/a'))
print(car.get("bran"))
print(car.keys())
car_keys = car.keys()
car['fuel'] = 'petrol'  # append(adding)
print(car_keys)
print(car.values())
car_values = car.values()
car['year'] = 2025
print(car_values)
print(car.items())
for k,v in car.items():
  print(k,v)

car['model'] = 'q2024'  # updation
print(car.items())

car.update({"year" : 2023})
print(car.items())

car.update({'color' : 'red'})
print(car.items())
print(car['bran'])  # it gives error so to avoid error we use get function

{'brand': 'audi', 'model': 'q2005'}
audi
0
n/a
None
dict_keys(['brand', 'model'])
dict_keys(['brand', 'model', 'fuel'])
dict_values(['audi', 'q2005', 'petrol'])
dict_values(['audi', 'q2005', 'petrol', 2025])
dict_items([('brand', 'audi'), ('model', 'q2005'), ('fuel', 'petrol'), ('year', 2025)])
brand audi
model q2005
fuel petrol
year 2025
dict_items([('brand', 'audi'), ('model', 'q2024'), ('fuel', 'petrol'), ('year', 2025)])
dict_items([('brand', 'audi'), ('model', 'q2024'), ('fuel', 'petrol'), ('year', 2023)])
dict_items([('brand', 'audi'), ('model', 'q2024'), ('fuel', 'petrol'), ('year', 2023), ('color', 'red')])

KeyError: 'bran'

In [ ]:
students = ["boy", "girl","boy","boy"]
count = {}           #empty dictionary
for i in students:
  count[i] = count.get(i,0) + 1
print(count)

{'boy': 3, 'girl': 1}

pick two items  
buddget = 900

In [ ]:
fruits = {
    'apple' : 800,
    'avocado' : 700,
    'banana' : 100,
    'strawberry' : 200
}

budget = 900
seen = { }

for k, v in fruits.items():
  diff = budget - v
  if diff in seen:
    print(k,seen[diff])
    break
  seen[v] = k
else:
  print("no solution")

banana apple

# nested list

In [ ]:
secC = {
    "s1" : { "name" : "anuj",
            "year" : 2024,
             "dept" : "ECE" },
    "s2" : { "name" : "ritesh",
            "year" : 2024,
             "dept" : "csE" }
}
print("secC")

for k,v in secC.items():
  for k1,v1 in v.items():
    print(k1,v1)

secC
name anuj
year 2024
dept ECE
name ritesh
year 2024
dept csE

In [ ]:
avengers = {
    'name' : 'iron man',
    'power' : 'suit',
    'age' : 55
}

avengers_copy = avengers.copy()

print("1.copy() :",avengers_copy)
avg_keys = avengers.keys()
print("3.keys() :",avg_keys)
avg_values = avengers.values()
print("4.values() :",avg_values)
avg_items = avengers.items()
print("5.items() :",avg_items)
popped_item = avengers.pop('age')
print("6.pop() :",popped_item)
print("7.remaining dict :",avengers)
last_item = avengers.popitem()
print("8.popitem() :",last_item)
keys = ['thor', 'hulk']
new_team = dict.fromkeys(keys, 'avengers')
print("9.fromkeys() :",new_team)
avg_items = avengers.items()
print("9.items() :",avg_items)

avg= ("get()")

values = avengers.setdefault("year")
print("12.setdefault() :",values)
values = avengers.setdefault("year",2024)
print("13.setdefault() :",values)

1.copy() : {'name': 'iron man', 'power': 'suit', 'age': 55}
3.keys() : dict_keys(['name', 'power', 'age'])
4.values() : dict_values(['iron man', 'suit', 55])
5.items() : dict_items([('name', 'iron man'), ('power', 'suit'), ('age', 55)])
6.pop() : 55
7.remaining dict : {'name': 'iron man', 'power': 'suit'}
8.popitem() : ('power', 'suit')
9.fromkeys() : {'thor': 'avengers', 'hulk': 'avengers'}
9.items() : dict_items([('name', 'iron man')])
12.setdefault() : None
13.setdefault() : None

telecom company provide the list of a data pack prices a customer has a fixed budget and the companies system needs to finds two packs whose combined  cost exactly matches the customer budget if suc a pair exist system should return keys and their prices if not exist then system returns not found .

you are managing a telecom customer when a new user register their user name must be unique if user enters the same existing value or name the system should return this is already exist if not exist already then register the name or value of that user

# for else break(important)

In [ ]:
l=[1,2,3,4,5]
print("sum is :",sum(l))

sum is : 15

# even number

In [ ]:
print(*(i for i in range(0,10) if i%2==0))

0 2 4 6 8